@import './variables.scss';

html,
body {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 18px;
  color: $darkGreyColor;
  cursor: pointer;
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: #333;
  }

  * {
    font-family: $barlow;
  }
  
  * {
    box-sizing: border-box;
  }  
}


.topwrapper {
  display: flex;  
  padding: 2px 30px;
  align-items: center;
  justify-content: space-between;
}

a:link.logo,
a:visited.logo,
a:hover.logo,
a:active.logo {
  color: $orangeColor;
  font-size: 40px;
  font-weight: bold;
}



  //topnav
.topnav {
    width: 100%;
    height: 55px;
    color: $orangeColor;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: $greyColor;
  }
  
  .left {
    color: $orangeColor;  
    display: flex;
    align-items: center;
  }
  
  svg.materials_icon {
    margin-left: 30px;
  }
  
  .hamburger {
    width: 28px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: $orangeColor; 
    transform-origin: left;
    transition: all 2s ease;
  }

  
.menu {
    width: 250px;
    @include flexDisplay(column, center, center);
    font-size: 25px;
    background-color: $greyColor;
    position: fixed;
    top: 0px;
    z-index: 0;
    height: 100vh;
    right: -250px;

    .menu_link {
      padding: 3px 20px;
      color: $orangeColor;
      font-weight: bold;
      margin-top: 10px;
    }    
  }
  
  /* when both topnav and menu is .active menu toggles on/off canvas AND hamburger transforms */
  .active {
    right: 0px;  
  } 
  
  /* applies to .active right menu only */
  .active.menu {
    background-color: $blackColor;
  }
  
  .active .line:first-child {
    transform: rotate(40deg)
  }
  
  .active .line:nth-child(2) {
    opacity: 0;
  }
  
  .active .line:last-child {
    transform: rotate(-43deg)  
  }
  
.banner {
  .banner-img {
    width: 100%;
    object-fit: cover;
    background-position: center top;
  }
  
  .banner-div {
    position: absolute;
    top: 20%;
    left: 7%;
    width: 70%;

    .banner-title {
      color: $orangeColor;
      text-shadow: 2px 2px 4px $creamColor;
      font-size: 80px;
      letter-spacing: 3px;
      font-family: $tangerine;
      font-weight: bold;
      margin-bottom: 0px;
    }
    
    .banner-role {
      color: $darkGreyColor;
      text-shadow: 2px 2px 4px $creamColor;
      font-size: 35px;
      letter-spacing: 3px;
      font-weight: bold;
      margin-bottom: 0px;
    }
    
    .banner-desc {
      color: $darkGreyColor;
      text-shadow: 2px 2px 4px $creamColor;
      font-size: 35px;
      font-size: 28px;
      margin-top: 5px;

      .ityped-cursor{
        animation: blink 1s infinite;
      }
    }
    
    .banner-string {
      color: $creamColor;
      text-shadow: 2px 2px 4px $blackColor;
      font-size: 35px;
      font-size: 28px;
      line-height: 1.7;  
    }

    .banner-btn {
      padding: 15px 20px;
      color: $creamColor;
      border-radius: 10px;
      background-color:  $orangeColor;
      border: none;
      font-size: 20px;
      text-align: center;
      font-weight: bold;

      a:link.banner-link, 
      a:visited.banner-link, 
      a:hover.banner-link, 
      a:active.banner-link {
        color: $creamColor
      }    
    }
  }
} 
  
  
  @keyframes blink {
    50% {
      opacity: 1
    }
  
    100% {
      opacity: 0;
    }
  }
  
  a:link.project_link, a:active.project_link, a:visited.project_link  {
    font-weight: bold;
    color:  $orangeColor;
  }
  
  a:hover.project_link  {
    color: $darkGreyColor
  }
  
  .section_heading {
    color: $orangeColor;
    text-shadow: 2px 2px 4px $creamColor;
    font-size: 65px;
    letter-spacing: 10px;
    text-align: center;
    font-family: $tangerine;
    font-weight: bold;
  }
  
  .sent_heading {
    color: $orangeColor;
    text-shadow: 2px 2px 4px $creamColor;
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .section {
    @include flexDisplay(row, center, none);      
    flex-wrap: wrap;
    margin-top: 5%;
  }
  
  .skill_section, .project_section {
    height: auto;
  }
  
  .project_menu {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
  
  .project_section {
    display: flex;
    flex-direction: column;
  }
  
  .project_status {
    margin: 0;
    font-weight: bold;
    font-style: italic;
  }
  
  .card {
    @include flexDisplay(column, none, center);
    text-align: center;
    background-color: transparent;
  }
  
  .card >* {
    flex: 1;
  }
  
  .skill_card {
    background-image: linear-gradient( $orangeColor, $creamColor);  
    box-shadow: 5px 5px $orangeColor;  
    width: 300px;
    padding: 30px 10px;
    border-radius: 15%;
    margin: 3%;
  }
  
  .skill_title {
    font-size: 27px;
    font-weight: bolder;
  }
  
  .skill_desc {
    margin: 3px;
    font-size: 22px;
    font-weight: 300px;
  }
  
  /* update skills section */
  .skill_card2 {
    display: flex;
    flex-direction: column; 
  }
  
  .card_title {
    display: flex;
  }
  
  .card_title span {
    padding: 5px;
    border-radius: 12px;
    background-color: $orangeColor;
  }
  
  /* end of updated skills */
  
  
  .skills_button_section {
      margin: 40px 0;
  }
  
  .skills_button_section h2{
    font-size: 24px;
    font-weight: bold;  
  }
  
  .skills_button_section span{
    background-image: linear-gradient( $orangeColor, $creamColor);  
    box-shadow: 5px 5px $orangeColor; 
    padding: 10px;
    border-radius: 15%;
    margin: 2%; 
    font-size: 20px; 
    font-weight: bold;
  }
  
  .skills_span {
    display: flex;
    flex-wrap: wrap;
  }
  
  hr {
    width: 50%;
    border: .5px $orangeColor solid;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
  }
  
  .project_menu {
    display: flex;
  }
  
  .project_menu > .active {
    background-color: $lightGreyColor;
  }
  
  .project_menu_item {
    padding: 10px 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  span.active{
    background-color:$blackColor;
    color: $creamColor;
  }
  
  .project_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  
  .skill_list{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .project_card {
    height: auto;
    width: 300px;
    margin: 1% 2%;
    border: 0px $creamColor solid; 
    position: relative;
  }
  
  /* regular */
  .project_image {
    width: 250px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 5px 5px $mediumGreyColor;   
  }
  
  .project_image_div {
    opacity: 1;
    object-fit: cover; 
    align-items: center;
    border-radius: 10px;
    transition: all .20s ease;
    cursor: pointer;  
    z-index: 1;  
  }
  
  .project_title {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    padding: 50px;
  }
  
  .project_title_div {
    position: absolute;  
    display: flex;
    width: 250px;
    height: 170px;  
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    background-color: $blackColor;
    border-radius: 15px;  
  }
  
  .project_desc, .project_link {
    margin-top: 10px;
    font-size: 17px;
  }
  
  /* hover */
  .project_image_div:hover {
    opacity: .5;
    z-index: 0;
  }
  
  .project_title_div:hover {
    z-index: 1;
  }
  
  a:link.project_views,
  a:visited.project_views,
  a:hover.project_views,
  a:active.project_views {  
    font-style: italic;  
  }
  
  .project_status_div span {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .contact_form {
    width: 450px;   
    @include flexColumnCenterItemsCenter;
  
    .contact_input {
      margin: 2% 0;
      padding: 2%;
      font-size: 20px;
  
      border-radius: 7px;
      width: 350px;
      border: 1px solid $lightGreyColor;
    }
    
    .contact_btn {
      background-color: $orangeColor;
      margin: 3% auto;  
      padding: 2%;
      font-size: 22px;
      border-radius: 7px;  
      color: $creamColor;
      width: 150px;
      border-color: $orangeColor;
    }
    
    span {
      color: $orangeColor;
      font-weight: bold;
    }

    .btn { 
      width: 150px;
      background-color: $orangeColor;
      border: 3px $orangeColor solid;
      font-weight: bold;
      margin: auto;
      font-size: 20px;
    }    
  }
  
  .footer { 
    width: 100%; 
    padding: 2%;   
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: $mediumGreyColor; 
    color: $creamColor; 
    font-size: 16px;
    
    .footer_logo {
      @include flexDisplay(column, none, center);
      width: 20%;
    }
    
    .footer_links {
      width: 80%;
    }
    
    .footer_logo_img{
      width: 125px;
      height: auto;
    }
    
    h1.footer_title {
      margin-top: 2%;
    }
    
    .footer_link {
      padding: 3%;
      color: $creamColor;
      font-weight: bold;
    }

    a:link.footer_link,
    a:visited.footer_link,
    a:hover.footer_link,
    a:active.footer_link {
      color: $creamColor;
    }    
  } 
  
  /* 1024 and below*/
  
  @media only screen and (max-width: 1024px){    
    a:link.logo,
    a:visited.logo,
    a:hover.logo,
    a:active.logo {
      font-size: 35px;
    }
       
    .banner {
      .banner-div {
        top: 10%;
      }
      
      .banner-title {
        font-size: 60px;
      }
      
      .banner-role {
        font-size: 28px;
      }
      
      .banner-desc, .banner-string {
        font-size: 23px;
      } 
    } 
    
    .footer_logo {
      width: 30%;
    }
  
    .footer_links {
      width: 70%;
    }  
  }
  
  /* 920 and below*/  
  @media only screen and (max-width: 975px) {
    .project_list, .skill_list {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      justify-content: center;
    }
  
    .project_menu_item {
      font-size: 18px;
    } 
  
    .skills_button_section h2{
      font-size: 20px;
      font-weight: bold;  
    }
    
    .skills_button_section span{
      font-size: 16px; 
    } 
    
    .footer {
      .footer_logo {
        width: 50%;
      }
    }        
  }
  /* 767 and below*/  
  @media only screen and (max-width: 767px) {
    .topwrapper {
      @include flexDisplay(row, space-between, center);
      padding: 2px 30px;
    }
    
    a:link.logo,
    a:visited.logo,
    a:hover.logo,
    a:active.logo {
      font-size: 30px;
    }
    
    .topnav {
      width: 100%;
      height: 55px;
      color: $orangeColor;
      position: fixed;
      top: 0;
      z-index: 1;
      background-color: $greyColor;
    }
  
    .left > span {
      font-size: 14px;
    }
  
    svg.materials_icon {
      width: .8em;
      height: .8em;
    }
  
   svg.menu_icon {
      width: 1.5em;
      height: 1.5em;
    }
  
    .banner {
      .banner-div {
        top: 15%;

        .banner-title {
          font-size: 55px;
        }
        
        .banner-role {
          font-size: 22px;
        }
        
        .banner-desc, .banner-string {
          font-size: 19px;
        } 
        
        .banner-btn {
          font-size: 16px;
        }
      
        .banner-string {
          z-index: 0;
        }        
      }
    }

  
    .section_heading {
      font-size: 50px;
    }
    
    .skill_title { 
      font-size:  20px;
    } 
    
    .skill_desc { 
      font-size:  18px;
    } 
    
    .project_title { 
      font-size: 18px; 
    }
    
    .project_link,  .project_menu_item  {
      font-size: 16px;
    } 
  
  .project_desc { 
      font-size: 14px;
    }
    
    .contact_btn {
      font-size: 18px;
      width: 125px
    }
    
    .contact_input {
      font-size: 18px;
    }          
    

    .footer {
      .footer_logo {
        width: 40%;  

        .footer_logo_img {
          height: 65px;
          width: 80px;
        }
        
        .footer_title {
          font-size: 25px;     
        }        
      } 

      .footer_links{
        font-size: 12px;
      }          
    }    
  }
  
  /* 640 and below  */
  @media only screen and (max-width: 640px) {
    body {
      font-size: 16px;
    }
  
    svg.materials_icon {
      width: .8em;
      height: .8em;
    }
  
    .materials_nav span {
      font-size: 14px;
    }
  
    .menu {
      font-size: 20px;
    }
  
   svg.menu_icon {
      width: 1.25em;
      height: 1.25em;
    }
      
    .banner {        
      .banner-div {
        top: 8%;

        .banner-title {
          font-size: 47px;
        }
        
        .banner-role {
          font-size: 22px;
        }
        
        .banner-desc, .banner-string {
          font-size: 15px;
        } 
        
        .banner-btn {
          font-size: 14px;
          padding: 3%;
        }  
      } 
    }
  
    .section_heading {
      font-size: 55px;
    }
  
    .project_menu_item {
      font-size: 14px;
    }
  
    .contact_input {
      font-size: 14px;
    }  
  }  
  
  /* 480 and below  */
  @media only screen and (max-width: 480px) {  
   
    .section_heading {
      font-size: 50px;
    }
  
    .footer { 
      width: 100%; 
      padding: 2%;   
      margin-top: 50px;
      @include flexDisplay(column, flex-start, center);
      background-color: $mediumGreyColor; 
      color: $creamColor; 


      .footer_logo {
        margin-top: 10%;
        width: 100%;
      }      
      
      .footer_links{
        font-size: 16px;
        width: 100%;
      } 
    }
  }
  
  /* 420 and below  */
  @media only screen and (max-width: 450px) {
    .banner {
      .banner-div {
        top: 15%;

        .banner-title {
          display: none;
        }

        .banner-role {
          font-size: 18px;
        }
      }
    }

    .topnav {
        height: auto;
        padding-bottom: 2%;
    }
  
    svg.materials_icon {
      display: none;
    }
  
    .contact_form {
      width: 300px;
    }
  
    .contact_input {
      width: 280px;
    }

    .left {
      @include flexDisplay(column, flex-start, flex-start);
    }    
      
    
  }